<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>基于 SDN 的智能路由规划</title>
</head>
<!--设置框架-->
<!--frameborder 显示边框, 0 显示, 1 不显示 border 边框的粗细-->
<frameset rows="100,*,100" frameborder="1" border="1" noresize="noresize">
	<frame name="top" src="/static/html/top.html"/>
		<frameset cols="20%,80%">
			<frame name="left" src="static/html/left.html"/>
			<frame name="right" src="static/html/right.html" srcolling="yes"/>
		</frameset>
	<frame name="bottom" src="static/html/bottom.html"/>
</frameset>
</html>
